{% set defaultDivClass = 'd-flex' %}
<div class="{{ defaultDivClass }} {{ form.aligment_media.vars.data|default('') }}"
        data-media-preview-target="mediaPreview"

         data-edit-class-target="aligmentMediaClass"
         data-edit-class-default="{{ defaultDivClass }}">
    {% if form.media.media.vars.data|default(false) and form.media.version.vars.data|default(false) %}
        {% set versionSplit = form.media.version.vars.data|split('#') %}
        {% set versionType = versionSplit[0]|default('image') %}
        {% set versionKey = versionSplit[1]|default('_thumbnail') %}

        {% if versionType == 'image' %}
            {{ form.media.media.vars.data|sfs_media_render_image(versionKey, form.media.media.vars.attr) }}
        {% elseif versionType == 'video' %}
            {{ form.media.media.vars.data|sfs_media_render_video(versionKey, form.media.media.vars.attr) }}
        {% elseif versionType == 'picture' %}
            {{ form.media.media.vars.data|sfs_media_render_picture(versionKey, form.media.media.vars.attr) }}
        {% endif %}
    {% endif %}
</div>
