{% set defaultButtonClass = '' %}
{% for locale,localeField in form.button_text %}
    <a href="#"
       id="{{ form.id.vars.data|default('') }}"
       class="{{ form.button_style.vars.data|default('btn btn-primary') }} {{ form.button_classes.vars.data|default('') }}"
       data-lang="{{ locale }}"
       data-edit-content-target="buttonText.{{ locale }}"

       data-edit-id-target="buttonId"

       data-edit-class-target="buttonClass"
       data-edit-class-default="{{ defaultButtonClass }}"

       contenteditable="true">{{ localeField.vars.data|default('') }}</a>
{% endfor %}
