{{ sfs_cms_admin_module_accordion_block_start(form, accordion, 'button', true) }}
<div class="col-12">
    {{ form_widget(form.id) }}
</div>
<div class="col-12">
    {{ form_row(form.button_classes) }}
</div>
<div class="col-12">
    {{ form_row(form.button_style) }}
</div>
<div class="col-12">
    {{ form_row(form.button_text) }}
</div>
<div class="col-12">
    {{ form_widget(form.button_link) }}
</div>
{{ sfs_cms_admin_module_accordion_block_end() }}