<div class="row">
    <div class="col-12">
        {{ form_row(form.id) }}
    </div>
    <div class="col-12">
        {{ form_row(form.class) }}
    </div>
    <div class="col-12">
        {{ form_row(form.button_text) }}
    </div>
    <div class="col-12">
        {{ form_row(form.button_link) }}
    </div>
</div>
{{ form_rest(form) }}
