{% if button_text|default(false) and button_text|sfs_cms_trans is not empty %}
    <a href="{{ sfs_cms_url(button_link) }}"
            {{ sfs_cms_route_attr(button_link)}}
            id="{{ id|default('') }}"
            class="{{ button_style|default(button_style_custom|default('btn btn-primary')) }}">{{ button_text|sfs_cms_trans|raw }}</a>
{% endif %}
