{% import '@SfsCms/macros/modules_edit.html.twig' as module %}


<blockquote {{ module.link_id(form.id) }}
        {{ module.link_class(form.class, 'sfs-quote blockquote') }}
>
    {% for locale,localeField in form.quote|filter((f, locale) => not (locale starts with '_')) %}
        <p
                {{ module.link_content(localeField, locale, true, 'quote.form.quote.placeholder') }}
                {{ module.enter_inserts_module('paragraph') }}
        >
            {{ localeField.vars.data|default|raw }}
        </p>
    {% endfor %}
</blockquote>
