{% import '@SfsCms/macros/modules_edit.html.twig' as module %}

<section
    {{ module.link_id(form.id) }}
    {{ module.link_class(form.class, 'sfs-text-section') }}
    {{ module.link_bg_color(form.bg_color) }}
>
    {% for locale,localeField in form.background.vars.localeFields %}
        <div class="sfs-text-section__bg-media" {{ module.link_media_preview(localeField, locale) }}>
            {% if localeField.media.vars.data|default(false) %}
                {{ localeField.media.vars.data|sfs_media_render(localeField.version.vars.data, localeField.media.vars.image_attr) }}
            {% endif %}
        </div>
    {% endfor %}

    <div {{ module.link_class(form.text_position) }}>
        {% for locale,localeField in form.media.vars.localeFields %}
            <div class="sfs-text-section__image position-relative"
                {{ module.link_media_preview(localeField, locale) }}>
                {% if localeField.media.vars.data|default(false) %}
                    {{ localeField.media.vars.data|sfs_media_render(localeField.version.vars.data, localeField.media.vars.image_attr) }}
                {% endif %}
            </div>
        {% endfor %}

        <div class="sfs-text-section__content">
            {% for locale,localeField in form.title.vars.localeFields %}
                {{ module.start_link_tag_type(form.title_type,[
                    module.link_class(form.title_class, 'sfs-text-section__title'),
                    module.link_content(localeField, locale, true, 'text_section.form.title.placeholder'),
                ]) }}{{ localeField.vars.data|default|raw }}{{ module.end_link_tag_type(form.title_type) }}
            {% endfor %}

            <div class="sfs-text-section__body">
                {% for locale,localeField in form.description.vars.localeFields %}
                    <div {{ module.link_content(localeField, locale, false) }}
                        {{ module.wysiwyg('tinymce') }}
                    >{{ localeField.vars.data|default|raw }}</div>
                {% endfor %}

                {% for locale,localeField in form.primary_button_text.vars.localeFields %}
                    <a href="#"
                        {{ module.link_class(form.primary_button_class, 'sfs-text-section__cta btn') }}
                        {{ module.link_content(localeField, locale) }}
                    >{{ localeField.vars.data|default }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
