{% set defaultDivClass = 'sfs-text-section' %}
{% set titleType = form.title_type.vars.data|default('h2') %}
<section class="{{ defaultDivClass }} {{ form.class.vars.data|default('') }}" id="{{ form.id.vars.data|default('') }}"
     data-edit-id-target="textSectionIdDiv"

     data-edit-class-target="textSectionClassDiv"
     data-edit-class-default="{{ defaultDivClass }}"

     data-edit-bgcolor-target="textSectionColorDiv"
     style="{{ form.bg_color.vars.data ? 'background-color:'~form.bg_color.vars.data : '' }}"
>
    {% for locale,localeField in form.background %}
        <div class="sfs-text-section__bg-media" data-media-preview-target="backgroundImage.{{ locale }}" data-lang="{{ locale }}">
            {% if localeField.vars.data %}
                {{ localeField.media.vars.data|sfs_media_render(localeField.version.vars.data, localeField.media.vars.image_attr) }}
            {% endif %}
        </div>
    {% endfor %}
    {% set containerNoImageDivClass = '' %}
    {% set containerNoCtaDivClass = '' %}
    {% if image[app.request.locale]|default(false) == false %}
        {% set containerNoImageDivClass = ' container--no-image' %}
    {% endif %}
    {% if (primary_button_text|default(false) == false) or (primary_button_text|sfs_cms_trans is empty)%}
        {% set containerNoCtaDivClass = ' container--no-cta' %}
    {% endif %}
    {% set containerDivClass = 'sfs-text-section__content container' ~ containerNoImageDivClass ~ containerNoCtaDivClass %}
        <div class="{{ form.text_position.vars.value|default('text-center') }}"
             data-edit-class-target="textPositionClass"
             data-edit-class-default="{{ containerDivClass }}" >
            {% for locale,localeField in form.media %}
                <div class="sfs-text-section__image position-relative" data-media-preview-target="media.{{ locale }}" data-lang="{{ locale }}">
                    {% if localeField.media.vars.data %}
                        {{ localeField.media.vars.data|sfs_media_render(localeField.version.vars.data, localeField.media.vars.image_attr) }}
                    {% endif %}
                </div>
            {% endfor %}

            <div class="sfs-text-section__content">
                {% for locale,localeField in form.title %}
                    {% set titleClassDefault = 'sfs-text-section__title' %}
                    <{{ titleType }}
                        class="{{ titleClassDefault }} {{ form.title_class.vars.data|default('') }}"

                        data-cms-module-title-type=""

                        data-edit-class-target="titleClass"
                        data-edit-class-default="{{ titleClassDefault }}"

                        data-lang="{{ locale }}"
                        data-edit-content-target="title.{{ locale }}"
                        data-edit-content-placeholder="{{ 'card.form.title.placeholder'|trans({}, 'sfs_cms_modules', locale) }}"
                        contenteditable="true"
                    >{{ localeField.vars.data|default('')|raw }}</{{ titleType }}>
                {% endfor %}
                <div class="sfs-text-section__body">
                    {% for locale,localeField in form.description %}
                        <div data-edit-content-target="description.{{ locale }}"
                             data-lang="{{ locale }}"
                             data-bs-toggle="modal"
                             data-bs-target="#{{ id }}Modal"
                             data-default-text="Enter description">
                            {{ localeField.vars.data|default('Enter description')|raw }}
                        </div>
                    {% endfor %}

                    {% set defaultBtnClass = 'sfs-text-section__cta btn btn-primary' %}
                    {% for locale,localeField in form.primary_button_text %}
                        <a href="#"
                           class="{{ defaultBtnClass }}"
                           data-lang="{{ locale }}"
                           data-edit-content-target="primaryButtonText.{{ locale }}"
                           contenteditable="true"
                           data-edit-class-target="primaryButtonClassBtn"
                           data-edit-class-default="{{ defaultBtnClass }}">{{ localeField.vars.data|default('') }}</a>
                    {% endfor %}
                </div>
            </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="{{ id }}Modal" data-wysiwyg-modal data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="{{ id }}ModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Text section description</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% for locale,localeField in form.description %}
                        <div data-edit-content-target="description.{{ locale }}" data-lang="{{ locale }}">
                            {{ form_row(localeField,{'attr':{'data-initial-value' : form.description.children[locale].vars.value }}) }}
                        </div>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Done</button>
                </div>
            </div>
        </div>
    </div>
</section>
