{{ sfs_cms_admin_module_accordion_block_start(form, accordion, 'attributes') }}
<div class="col-12">
    {{ form_widget(form.id) }}
</div>
<div class="col-12">
    {{ form_widget(form.class) }}
</div>
<div class="col-12">
    {{ form_row(form.text_position) }}
</div>
<div class="col-12">
    {{ form_widget(form.bg_color) }}
</div>
<div class="col-12">
    {{ form_row(form.background) }}
</div>
{{ sfs_cms_admin_module_accordion_block_end() }}


{{ sfs_cms_admin_module_accordion_block_start(form, accordion, 'title', true) }}
<div class="col-12">
    {{ form_widget(form.title_type) }}
</div>
<div class="col-12">
    {{ form_widget(form.title_class) }}
</div>
<div class="col-12">
    {{ form_widget(form.title) }}
</div>
{{ sfs_cms_admin_module_accordion_block_end() }}

{{ sfs_cms_admin_module_accordion_block_start(form, accordion, 'image') }}
<div class="col-12">
    {{ form_widget(form.media) }}
</div>
{{ sfs_cms_admin_module_accordion_block_end() }}

{{ sfs_cms_admin_module_accordion_block_start(form, accordion, 'description') }}
<div class="col-12">
    {{ form_widget(form.description) }}
</div>
{{ sfs_cms_admin_module_accordion_block_end() }}

{{ sfs_cms_admin_module_accordion_block_start(form, accordion, 'primary_button') }}
<div class="col-12">
    {{ form_widget(form.primary_button_class) }}
</div>
<div class="col-12">
    {{ form_widget(form.primary_button_text) }}
</div>
<div class="col-12">
    {{ form_widget(form.primary_button_link) }}
</div>
{{ sfs_cms_admin_module_accordion_block_end() }}
