<section id="{{ id|default('') }}"
         class="sfs-text-section {{ class|default('') }}"
         style="{{ bg_color|default(false) ? 'background-color:'~bg_color : '' }}">
    {% if background[app.request.locale]|default(false) %}
        <div class="sfs-text-section__bg-media">
            {{ background[app.request.locale].media|sfs_media_render(background[app.request.locale].version) }}
        </div>
    {% endif %}
    <div class="sfs-text-section__content container {{ text_position|default('text-center') }}
                    {% if image[app.request.locale]|default(false) == false %}container--no-image {% endif %}
                    {% if (primary_button_text|default(false) == false or primary_button_text|sfs_cms_trans is empty) %}
                    container--no-cta
                    {% endif %}">
            {% if media[app.request.locale]|default(false) %}
                {{ media[app.request.locale].media|sfs_media_render(media[app.request.locale].version, {'class':'sfs-text-section__image img-fluid'}) }}
            {% endif %}
            <div class="sfs-text-section__content">
                {% if title|default(false) %}
                <{{ title_type|default('h2') }} class="sfs-text-section__title {{ title_class|default('') }}">{{ title|sfs_cms_trans|raw }}</{{ title_type|default('h2') }}>
                {% endif %}
                {% if description[app.request.locale]|default(false) %}
                <div class="sfs-text-section__body">
                    {{ description[app.request.locale]|default('')|raw }}
                </div>
                {% endif %}
                {% if (primary_button_text|default(false) and primary_button_text|sfs_cms_trans is not empty) %}
                    {% if primary_button_text|default(false) and primary_button_text|sfs_cms_trans is not empty %}
                        <a href="{{ sfs_cms_url(primary_button_link) }}"
                           class="sfs-text-section__cta btn {{primary_button_class|default('btn-primary') }}">{{ primary_button_text|sfs_cms_trans|raw }}</a>
                    {% endif %}
                {% endif %}
            </div>
    </div>
</section>
