<div class="container">
    <div class="row">{{ form_row(form.id) }}</div>
    <div class="row">{{ form_row(form.class) }}</div>
    <div class="row">{{ form_row(form.type) }}</div>
    <div class="row">{{ form_row(form.title, {'attr': {'data-content-edit-preview': 'title'}}) }}</div>
    <div class="row">{{ form_rest(form) }}</div>
</div>
