{{ sfs_cms_admin_module_accordion_block_start(form, accordion, 'attributes') }}
<div class="col-12 mb-3">
    {{ form_widget(form.id) }}
</div>
<div class="col-12">
    {{ form_widget(form.class) }}
</div>
{{ sfs_cms_admin_module_accordion_block_end() }}

{{ sfs_cms_admin_module_accordion_block_start(form, accordion, 'title', true) }}
<div class="col-12 mb-3">
    {{ form_widget(form.type) }}
</div>
<div class="col-12">
    {{ form_widget(form.title, {'attr': {'style': 'min-height: 300px'}}) }}
</div>
{{ sfs_cms_admin_module_accordion_block_end() }}
