{% set defaultDivClass = 'hero px-4 py-5 my-5 text-center' %}
<div class="{{ defaultDivClass }} {{ form.class.vars.data|default('') }} {{ form.fullpage.vars.data|default('') }}" id="{{ form.id.vars.data|default('') }}"
    data-edit-id-target="heroIdDiv"

    data-edit-class-target="heroClassDiv"
    data-edit-class-default="{{ defaultDivClass }}"

    data-edit-bgcolor-target="heroColorDiv"
    style="{{ form.bg_color.vars.data ? 'background-color:'~form.bg_color.vars.data : '' }}"
>

    {% for locale,localeField in form.background %}
        <div class="hero__bg-media" data-image-preview-target="backgroundImage.{{ locale }}" data-lang="{{ locale }}">
            {% if localeField.vars.data %}
                {{ localeField.vars.data|sfs_media_render_picture('_default', localeField.vars.image_attr) }}
            {% endif %}
        </div>
    {% endfor %}
    <div class="container">
        <div class="hero__content">
            {% for locale,localeField in form.other %}
                <div class="hero__image-media" data-image-preview-target="image.{{ locale }}" data-lang="{{ locale }}">
                    {% if localeField.vars.data %}
                        {{ localeField.vars.data|sfs_media_render_image('_original', localeField.vars.image_attr) }}
                    {% endif %}
                </div>
            {% endfor %}
            {% set defaultTitleClass = 'hero__title' %}
            {% for locale,localeField in form.title %}
                <h1 class="hero__title"
                    data-edit-content-target="title.{{ locale }}"
                    data-lang="{{ locale }}"

                    data-edit-class-target="titleClass"
                    data-edit-class-default="{{ defaultDivClass }}"

                    contenteditable="true">{{ localeField.vars.data|default('Título')|raw }}</h1>
            {% endfor %}

            <div class="col-md-10 col-lg-8 mx-auto">
                {% for locale,localeField in form.description %}
                    <div class="lead mb-4" data-edit-content-target="description.{{ locale }}" data-lang="{{ locale }}" contenteditable="true">{{ localeField.vars.data|default('Texto descriptivo')|raw }}</div>
                {% endfor %}

                <div class="d-grid gap-2 d-sm-flex justify-sm-center">
                    {% for locale,localeField in form.primary_button_text %}
                        <a href="#" data-edit-content-hide-if-empty="true" class="btn btn-primary btn-lg px-4 gap-3" data-lang="{{ locale }}" data-edit-content-target="primaryButtonText.{{ locale }}" contenteditable="true">{{ localeField.vars.data|default('') }}</a>
                    {% endfor %}

                    {% for locale,localeField in form.secondary_button_text %}
                        <a href="#" data-edit-content-hide-if-empty="true" class="btn btn-outline-secondary btn-lg px-4" data-lang="{{ locale }}" data-edit-content-target="secondaryButtonText.{{ locale }}" contenteditable="true">{{ localeField.vars.data|default('') }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<p class="claim m-auto font-weight-light">Somos Agentes Digitalizadores del Kit Digital de <strong>red.es</strong> y del <strong>gobierno de España</strong>.</p>
<div class="m-auto p-0 font-weight-light"><p>Te acompañamos en la <strong>transformación digital</strong> o <strong>tecnológica</strong> de tu empresa, bien sea porque tienes una idea que quieres desarrollar, un producto que lanzar, quieres introducirte en el mundo digital y no sabes cómo, o porque tienes <strong>problemas con la tecnología</strong> o <strong>los procesos</strong> que ya estás usando y necesitas asesoría al respecto. Llevamos <strong>más de quince años resolviendo problemas con tecnología</strong> y ayudando a equipos de distintos tamaños y países a hacerlo. Queremos acompañarte en el proceso, sentir tu proyecto como si fuera nuestro y que tú te sientas partícipe del proceso, al fin y al cabo, ¡es tu proyecto!</p><p>¿Tienes un proyecto o idea que arrancar y necesitas ayuda con la tecnología? podemos ayudarte</p></div><div class="col-12"><img alt="Softspring" src="https://storage.googleapis.com/softspring-dev-local-local-ebpe-images/1ecedfe7-4b10-6612-b8ee-efd78284bae2/6a3dcbea90879f568fb572ae58dad168f19845ec.png" class="my-4 img-fluid w-100"></div>
