{% set defaultDivClass = 'sfs-hero' %}
<article class="{{ defaultDivClass }} {{ form.class.vars.data|default('') }} {{ form.fullpage.vars.data|default('') }}" id="{{ form.id.vars.data|default('') }}"
    data-edit-id-target="heroIdDiv"

    data-edit-class-target="heroClassDiv"
    data-edit-class-default="{{ defaultDivClass }}"

    data-edit-bgcolor-target="heroColorDiv"
    style="{{ form.bg_color.vars.data ? 'background-color:'~form.bg_color.vars.data : '' }}"
>

    {% for locale,localeField in form.background %}
        <div class="sfs-hero__bg-media" data-media-preview-target="backgroundImage.{{ locale }}" data-lang="{{ locale }}">
            {% if localeField.vars.data %}
                {{ localeField.vars.data|sfs_media_render_picture('_default', localeField.vars.picture_attr) }}
            {% endif %}
        </div>
    {% endfor %}
    <div class="sfs-hero__content container">
        {% for locale,localeField in form.other %}
            <div class="sfs-hero__image-media" data-media-preview-target="image.{{ locale }}" data-lang="{{ locale }}">
                {% if localeField.vars.data %}
                    {{ localeField.vars.data|sfs_media_render_image('_original', localeField.vars.image_attr) }}
                {% endif %}
            </div>
        {% endfor %}
        {% set defaultTitleClass = 'sfs-hero__title' %}
        {% for locale,localeField in form.title %}
            <h1 class="sfs-hero__title"
                data-edit-content-target="title.{{ locale }}"
                data-lang="{{ locale }}"

                data-edit-class-target="titleClass"
                data-edit-class-default="{{ defaultDivClass }}"

                contenteditable="true">{{ localeField.vars.data|default('Título')|raw }}</h1>
        {% endfor %}

        <div class="col-md-10 col-lg-8 mx-auto">
            {% for locale,localeField in form.description %}
                <div class="lead mb-4 wysiwyg-preview"
                     data-edit-content-target="description.{{ locale }}"
                     data-lang="{{ locale }}"
                     data-bs-toggle="modal"
                     data-bs-target="#{{ id }}Modal"
                     data-default-text="Texto descriptivo">
                    {{ localeField.vars.data|default('Texto descriptivo')|raw }}
                </div>
            {% endfor %}

            <div class="d-grid gap-2 d-sm-flex justify-content-center">
                {% for locale,localeField in form.primary_button_text %}
                    <a href="#" data-edit-content-hide-if-empty="true" class="btn btn-primary btn-lg px-4 gap-3" data-lang="{{ locale }}" data-edit-content-target="primaryButtonText.{{ locale }}" contenteditable="true">{{ localeField.vars.data|default('') }}</a>
                {% endfor %}

                {% for locale,localeField in form.secondary_button_text %}
                    <a href="#" data-edit-content-hide-if-empty="true" class="btn btn-outline-secondary btn-lg px-4" data-lang="{{ locale }}" data-edit-content-target="secondaryButtonText.{{ locale }}" contenteditable="true">{{ localeField.vars.data|default('') }}</a>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="{{ id }}Modal" data-wysiwyg-modal data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="{{ id }}ModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Hero description</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% for locale,localeField in form.description %}
                        <div data-edit-content-target="description.{{ locale }}" data-lang="{{ locale }}">
                            {{ form_row(localeField,{'attr':{'data-initial-value' : form.description.children[locale].vars.value }}) }}
                        </div>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Done</button>
                </div>
            </div>
        </div>
    </div>
</article>
