<div class="px-4 py-5 my-5 text-center {{ form.class.vars.data|default('') }}" id="{{ form.id.vars.data|default('') }}"
    data-content-edit-id-target="moduleBlock"
    data-content-edit-class-target="moduleBlock"
    data-content-edit-color-target="moduleBlock"
    data-content-edit-class-default="px-4 py-5 my-5 text-center"
    style="{{ form.bg_color.vars.data ? 'background-color:'~form.bg_color.vars.data : '' }}"
>

    <h1 class="display-5 fw-bold" data-content-edit-field="title" contenteditable="true">{{ form.title.vars.data.es|default('Título') }}</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4" data-content-edit-field="description" contenteditable="true">{{ form.description.vars.data|default('Texto descriptivo') }}</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="#" class="btn btn-primary btn-lg px-4 gap-3" data-content-edit-field="primaryButtonText" contenteditable="true">{{ form.primary_button_text.vars.data|default('Botón principal') }}</a>
            <a href="#" class="btn btn-outline-secondary btn-lg px-4" data-content-edit-field="secondaryButtonText" contenteditable="true">{{ form.secondary_button_text.vars.data|default('Botón secundario (opcional)') }}</a>
        </div>
    </div>
</div>