<section class="sfs-hero {{ class|default('') }} {{ fullpage|default('') }}" id="{{ id|default('') }}" style="{{ bg_color|default(false) ? 'background-color:'~bg_color : '' }}">
    {% if background[app.request.locale]|default(false) %}
        <div class="sfs-hero__bg-media">
            {{ background[app.request.locale].media|sfs_media_render(background[app.request.locale].version) }}
        </div>
    {% endif %}
    <div class="sfs-hero__content container">
        {% if media[app.request.locale]|default(false) %}
            <div class="sfs-hero__image">
                {{ media[app.request.locale].media|sfs_media_render(media[app.request.locale].version, {'class':'img-fluid'}) }}
            </div>
        {% endif %}
        <h1 class="sfs-hero__title {{ title_class|default('') }}">{{ title|sfs_cms_trans|raw }}</h1>
        <div class="col-md-10 col-lg-8 mx-auto">
            {% if description|default(false) %}<div class="lead mb-4">{{ description|sfs_cms_trans|raw }}</div>{% endif %}
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                {% if primary_button_text|default(false) and primary_button_text|sfs_cms_trans is not empty %}
                    <a href="{{ primary_button_link|default(false) ? path(primary_button_link) : '#' }}" {{ sfs_cms_route_attr(primary_button_link)}} class="btn btn-primary btn-lg px-4 gap-3">{{ primary_button_text|sfs_cms_trans|raw }}</a>
                {% endif %}

                {% if secondary_button_text|default(false) and secondary_button_text|sfs_cms_trans is not empty  %}
                    <a href="{{ secondary_button_link|default(false) ? path(secondary_button_link) : '#' }}" {{ sfs_cms_route_attr(secondary_button_link)}} class="btn btn-outline-secondary btn-lg px-4">{{ secondary_button_text|sfs_cms_trans|raw }}</a>
                {% endif %}
            </div>
        </div>
    </div>
</section>
