{% import '@SfsCms/macros/modules_render.html.twig' as module %}

<section
    {{ module.id(id) }}
    {{ module.class(class, 'sfs-hero '~fullpage) }}
    {{ module.bg_color(bg_color) }}
>
    {% if background[app.request.locale]|default(false) %}
        <div class="sfs-hero__bg-media">
            {{ background[app.request.locale].media|sfs_media_render(background[app.request.locale].version) }}
        </div>
    {% endif %}
    <div class="sfs-hero__content container">
        {% if media[app.request.locale]|default(false) %}
            <div class="sfs-hero__image">
                {{ media[app.request.locale].media|sfs_media_render(media[app.request.locale].version, {'class':'img-fluid'}) }}
            </div>
        {% endif %}
        <{{ title_type|default('h1') }} {{ module.class(title_class, 'sfs-hero__title') }}>{{ title|sfs_cms_trans|raw }}</{{ title_type|default('h1') }}>
        <div class="col-md-10 col-lg-8 mx-auto">
            {% if description|default(false) %}<div class="lead mb-4">{{ description|sfs_cms_trans|raw }}</div>{% endif %}
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                {% if primary_button_text|default(false) and primary_button_text|sfs_cms_trans is not empty %}
                    <a {{ sfs_cms_link_attr(primary_button_link) }} class="btn btn-primary btn-lg px-4 gap-3">{{ primary_button_text|sfs_cms_trans|raw }}</a>
                {% endif %}

                {% if secondary_button_text|default(false) and secondary_button_text|sfs_cms_trans is not empty  %}
                    <a {{ sfs_cms_link_attr(secondary_button_link) }} class="btn btn-outline-secondary btn-lg px-4">{{ secondary_button_text|sfs_cms_trans|raw }}</a>
                {% endif %}
            </div>
        </div>
    </div>
</section>
