{% set defaultDivClass = 'two-columns py-5' %}
<article class="{{ defaultDivClass }} {{ form.class.vars.data|default('') }}" id="{{ form.id.vars.data|default('') }}"
         data-edit-id-target="twoColumnsIdDiv"
         data-edit-class-target="twoColumnsClassDiv"
         data-edit-class-default="{{ defaultDivClass }}"

         data-edit-bgcolor-target="twoColumnsBgColorDiv"
         style="{{ form.bg_color.vars.data ? 'background-color:'~form.bg_color.vars.data : '' }}">
    <div class="container">
        <div class="row {{ form.image_position_text.vars.value|default('flex-row') }}" data-edit-class-target="imagePositionClass" data-edit-class-default="row">
            <div class="col-12 col-md-6">
                {% for locale,localeField in form.module_image %}
                    <div data-image-preview-target="moduleImage.{{ locale }}" data-lang="{{ locale }}">
                        {% if localeField.vars.data %}
                            {{ localeField.vars.data|sfs_media_render_image('sm', {'class':'img-fluid'}) }}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <div class="col-12 col-md-6">
                {% set titleClassDefault = 'two-columns__title' %}
                {% for locale,localeField in form.title %}
                <h2 class="{{ titleClassDefault }} {{ form.title_class.vars.data|default('') }}"
                    data-edit-class-target="titleClass"
                    data-edit-class-default="{{ titleClassDefault }}"
                    data-edit-content-target="title.{{ locale }}" data-lang="{{ locale }}" contenteditable="true">{{ localeField.vars.data|default('Título')|raw }}</h2>
                {% endfor %}
                <div class="two-columns__desc">
                    {% for locale,localeField in form.description %}
                        <div class="wysiwyg-preview"
                             data-edit-content-target="description.{{ locale }}"
                             data-lang="{{ locale }}"
                             data-bs-toggle="modal"
                             data-bs-target="#{{ id }}Modal"
                             data-default-text="Texto descriptivo">
                            {{ localeField.vars.data|default('Texto descriptivo')|raw }}
                        </div>
                    {% endfor %}
                </div>

                {% for locale,localeField in form.primary_button_text %}
                <div class="two-columns__cta">
                    <a href="#" class="btn btn-primary" data-lang="{{ locale }}" data-edit-content-target="primaryButtonText.{{ locale }}" contenteditable="true">{{ localeField.vars.data|default('Botón principal') }}</a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="{{ id }}Modal" data-wysiwyg-modal data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="{{ id }}ModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Two columns description</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% for locale,localeField in form.description %}
                        <div data-edit-content-target="description.{{ locale }}" data-lang="{{ locale }}">
                            {{ form_row(localeField) }}
                        </div>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Done</button>
                </div>
            </div>
        </div>
    </div>
</article>
<script>
    if (typeof initTiny === 'undefined') {
        let initTiny = function () {
            {% for locale,localeField in form.description %}
            tinymce.init({
                selector: '{{ '#' ~ id ~ ' [data-lang=' ~ locale ~ '] [data-wysiwyg]' }}',
                height: 300,
                menubar: false,
                plugins:
                    'code ' +
                    'image link media template code ' +
                    'table charmap pagebreak nonbreaking anchor ' +
                    'insertdatetime advlist lists wordcount help ' +
                    'charmap quickbars emoticons',
                toolbar: 'undo redo | bold italic underline strikethrough |' +
                    ' alignleft aligncenter alignright alignjustify |' +
                    ' outdent indent |  numlist bullist | forecolor removeformat | ' +
                    ' link anchor code | ltr rtl | fontsize blocks | ' +
                    ' charmap emoticons',
                toolbar_sticky: false,
                setup: function (editor) {
                    editor.on('init', function (e) {
                        editor.setContent('{{ form.description.children[locale].vars.value|replace({'\n': '','\r':''})|escape('js')|raw }}');
                    });
                }
            });
            {% endfor %}
        }
        window.addEventListener('load', function () {
            initTiny();
        }, false);

        window.addEventListener('cms.module.move.down', function () {
            initTiny();
        }, false);

        window.addEventListener('cms.module.move.up', function () {
            initTiny();
        }, false);

        if (typeof tinymce !== 'undefined') {
            initTiny();
        }
    }

</script>
