{% set defaultDivClass = 'sfs-two-columns py-5' %}
{% set titleType = form.title_type.vars.data|default('h2') %}
<section class="{{ defaultDivClass }} {{ form.class.vars.data|default('') }}" id="{{ form.id.vars.data|default('') }}"
         data-edit-id-target="twoColumnsIdDiv"
         data-edit-class-target="twoColumnsClassDiv"
         data-edit-class-default="{{ defaultDivClass }}"

         data-edit-bgcolor-target="twoColumnsBgColorDiv"
         style="{{ form.bg_color.vars.data ? 'background-color:'~form.bg_color.vars.data : '' }}">
    <div class="container">
        <div class="row {{ form.image_position_text.vars.value|default('flex-row') }}" data-edit-class-target="imagePositionClass" data-edit-class-default="row">
            <div class="col-12 col-md-6">
                {% for locale,localeField in form.module_image %}
                    <div data-media-preview-target="moduleImage.{{ locale }}" data-lang="{{ locale }}">
                        {% if localeField.vars.data.media|default(false) %}
                            {{ localeField.vars.data.media|sfs_media_render(localeField.vars.data.version, localeField.media.vars.image_attr) }}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <div class="col-12 col-md-6">
                {% set titleClassDefault = 'sfs-two-columns__title' %}
                {% for locale,localeField in form.title %}
                <{{ titleType }}
                    class="{{ titleClassDefault }} {{ form.title_class.vars.data|default('') }}"

                    data-cms-module-title-type=""

                    data-edit-class-target="titleClass"
                    data-edit-class-default="{{ titleClassDefault }}"

                    data-lang="{{ locale }}"
                    data-edit-content-target="title.{{ locale }}"
                    data-edit-content-placeholder="{{ 'two_columns.form.title.placeholder'|trans({}, 'sfs_cms_modules', locale) }}"
                    contenteditable="true"
                >{{ localeField.vars.data|default|raw }}</{{ titleType }}>
                {% endfor %}
                <div class="sfs-two-columns__desc">
                    {% for locale,localeField in form.description %}
                        <div class="wysiwyg-preview"
                             data-edit-content-target="description.{{ locale }}"
                             data-lang="{{ locale }}"
                             data-edit-content-wysiwyg="tinymce"
                             contenteditable="true"
                         >
                            {{ localeField.vars.data|default('Texto descriptivo')|raw }}
                        </div>
                    {% endfor %}
                </div>

                {% for locale,localeField in form.primary_button_text %}
                <div class="sfs-two-columns__cta">
                    <a href="#"
                       class="btn btn-primary"

                       data-lang="{{ locale }}"
                       data-edit-content-target="primaryButtonText.{{ locale }}"
                       data-edit-content-placeholder="{{ 'two_columns.form.primary_button_text.placeholder'|trans({}, 'sfs_cms_modules', locale) }}"
                       contenteditable="true"
                    >{{ localeField.vars.data|default }}</a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</section>
