<div class="row">
    <div class="col-12">
        {{ form_row(form.id) }}
    </div>
    <div class="col-12">
        {{ form_row(form.class) }}
    </div>
    <div class="col-12">
        {{ form_row(form.module_image) }}
    </div>
    <div class="col-12">
        {{ form_row(form.title) }}
    </div>
    <div class="col-12">
        {{ form_row(form.title_type) }}
    </div>
    <div class="col-12">
        {{ form_row(form.title_class) }}
    </div>
{#    <div class="col-12">#}
{#        {{ form_row(form.description) }}#}
{#    </div>#}
    <div class="col-12">
        {{ form_row(form.primary_button_text) }}
    </div>
    <div class="col-12">
        {{ form_widget(form.primary_button_link) }}
    </div>
</div>
{{ form_rest(form) }}
