{# ############################################################################# #
   HOW TO OVERRIDE CLASSES IN YOUR PROJECT

   Create a cms/two_columns/render.html.twig file in your project, extend this template
    and add the classes you want to override.

    {% set wrapperTag = 'article|div' %}
    {% set wrapperClass = 'your-custom-classes' %}
    {% set containerClass = 'your-custom-classes' %}
    {% set rowClass = 'your-custom-classes' %}
    {% set firstColumnClasses = 'your-custom-classes' %}
    {% set secondColumnClasses = 'your-custom-classes' %}
    {% set titleClass = 'your-custom-classes' %}
    {% set descriptionClass = 'your-custom-classes' %}
    {% set buttonsClass = 'your-custom-classes' %}
    {% set buttonClasses = 'your-custom-classes' %}

    {% extends '@!module/two_columns/render.html.twig' %}

 # ############################################################################# #}

{% import '@SfsCms/macros/modules_render.html.twig' as module %}

{{ ('<'~ (wrapperTag|default('section')) ~' '~ module.id(id) ~' '~ module.class(class, 'sfs-two-columns py-5') ~' '~ module.bg_color(bg_color) ~ '>')|raw }}
    {% if background[app.request.locale]|default(false) %}
        <div class="sfs-two-columns__bg-media">
            {{ background[app.request.locale]|sfs_media_render_picture }}
        </div>
    {% endif %}
    <div class="container">
        <div class="row {{ image_position_text|default('flex-row') }}">
            <div class="col-12 col-md-6">
                {% if module_image[app.request.locale].media|default(false) %}
                {{ module_image[app.request.locale].media|sfs_media_render(module_image[app.request.locale].version, {'class':'img-fluid'}) }}
                {% endif %}
            </div>
            <div class="col-12 col-md-6">
                <{{ title_type|default('h2') }} class="sfs-two-columns__title {{ title_class|default('') }}">{{ title|sfs_cms_trans|raw }}</{{ title_type|default('h2') }}>
                <div class="sfs-two-columns__desc">
                    {% if description[app.request.locale]|default(false) %}
                        {{ description[app.request.locale]|default('')|raw }}
                    {% endif %}
                </div>
                {% if primary_button_text|sfs_cms_trans|default(false) %}
                    <div class="sfs-two-columns__cta">
                        <a {{ sfs_cms_link_attr(primary_button_link) }} class="btn btn-primary">{{ primary_button_text|sfs_cms_trans|raw }}</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{{ ('</' ~ (wrapperTag|default('section')) ~ '>')|raw }}

