{{ sfs_cms_admin_module_accordion_block_start(form, accordion, 'attributes') }}
<div class="col-12 mb-3">
    {{ form_widget(form.id) }}
</div>
<div class="col-12">
    {{ form_widget(form.class) }}
</div>
{{ sfs_cms_admin_module_accordion_block_end() }}

{{ sfs_cms_admin_module_accordion_block_start(form, accordion, 'background') }}
<div class="col-12">
    {{ form_widget(form.bg_color) }}
</div>
{{ sfs_cms_admin_module_accordion_block_end() }}

{{ sfs_cms_admin_module_accordion_block_start(form, accordion, 'properties', true) }}
<div class="col-12">
    {{ form_row(form.items_per_slide) }}
</div>
<div class="col-12">
    {{ form_row(form.infinite_loop) }}
</div>
<div class="col-12">
    {{ form_row(form.auto_play) }}
</div>
<div class="col-12">
    {{ form_row(form.navigation) }}
</div>
<div class="col-12">
    {{ form_row(form.pagination) }}
</div>
{{ sfs_cms_admin_module_accordion_block_end() }}

