<div class="sfs-carousel swiper-module {{ class|default('') }}" id="{{ id|default('') }}"
     style="{{ bg_color|default(false) ? 'background-color:'~bg_color : '' }}">
        <div class="swiper"
             data-swipper
             data-slides-per-view="{{ items_per_slide|default(1) == 'auto' ? 'auto' : items_per_slide|default(1) }}"
             data-infinite-loop="{{ infinite_loop|default(true) == 1 ? '1' : 0 }}"
             data-autoplay="{{ auto_play|default(true) == 1 ? '1' : 0 }}">
            <div class="swiper-wrapper">
                {% for content in contents %}
                    <div class="swiper-slide{{ items_per_slide|default(1) == 'auto' ? ' w-auto' :'' }}">{{ content|raw }}</div>
                {% endfor %}
            </div>
            {% if pagination|default('1') == '1' %}
            <div class="swiper-pagination"></div>
            {% endif %}
            {% if navigation|default('1') == '1' %}
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            {% endif %}
        </div>
</div>
