{% set defaultDivClass = 'cardmod px-4 py-5' %}
<article class="{{ defaultDivClass }} {{ form.class.vars.data|default('') }}" id="{{ form.id.vars.data|default('') }}"
    data-edit-id-target="cardIdDiv"

    data-edit-class-target="cardClassDiv"
    data-edit-class-default="{{ defaultDivClass }}"

    data-edit-bgcolor-target="cardColorDiv"
    style="{{ form.bg_color.vars.data ? 'background-color:'~form.bg_color.vars.data : '' }}"
>
    <div class="container">
        {% for locale,localeField in form.background %}
            <div class="cardmod__bg-picture" data-media-preview-target="backgroundImage.{{ locale }}" data-lang="{{ locale }}">
                {% if localeField.vars.data %}
                    {{ localeField.vars.data|sfs_media_render_picture('_default', localeField.vars.media_attr) }}
                {% endif %}
            </div>
        {% endfor %}
        <div class="cardmod__content {{ form.content_position.vars.value|default('') }}"
             data-edit-class-target="contentPositionClass"
             data-edit-class-default="cardmod__content">

            {% for locale,localeField in form.other %}
                <div class="cardmod__image-media" data-media-preview-target="image.{{ locale }}" data-lang="{{ locale }}">
                    {% if localeField.vars.data %}
                        {{ localeField.vars.data|sfs_media_render_image('_original', localeField.vars.media_attr) }}
                    {% endif %}
                </div>
            {% endfor %}

            {% for locale,localeField in form.title %}
                {% set titleClassDefault = 'cardmod__title' %}
                <h2 class="{{ titleClassDefault }} {{ form.title_class.vars.data|default('') }}"
                    data-edit-class-target="titleClass"
                    data-edit-class-default="{{ titleClassDefault }}"
                    data-edit-content-target="title.{{ locale }}" data-lang="{{ locale }}" contenteditable="true">{{ localeField.vars.data|default('Título')|raw }}</h2>
            {% endfor %}

            {% for locale,localeField in form.description %}
                <div class="cardmod__desc mb-4 wysiwyg-preview"
                     data-edit-content-target="description.{{ locale }}"
                     data-lang="{{ locale }}"
                     data-bs-toggle="modal"
                     data-bs-target="#{{ id }}Modal"
                     data-default-text="Texto descriptivo">
                    {{ localeField.vars.data|default('Texto descriptivo')|raw }}
                </div>
            {% endfor %}

            <div class="cardmod__cta">
                 {% for locale,localeField in form.primary_button_text %}
                     {% set defaultPrimaryButtonClass = 'btn btn-primary' %}

                     <a href="#" data-edit-content-hide-if-empty="true"
                       class="{{ form.primary_button_class.vars.data|default(defaultPrimaryButtonClass) }}"
                       data-edit-class-target="primaryButtonClass"
                       data-edit-class-default="{{ defaultPrimaryButtonClass }}"
                       data-lang="{{ locale }}" data-edit-content-target="primaryButtonText.{{ locale }}" contenteditable="true">{{ localeField.vars.data|default('') }}</a>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="{{ id }}Modal" data-wysiwyg-modal data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="{{ id }}ModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Card description</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% for locale,localeField in form.description %}
                        <div data-edit-content-target="description.{{ locale }}" data-lang="{{ locale }}">
                            {{ form_row(localeField,{'attr':{'data-initial-value' : form.description.children[locale].vars.value }}) }}
                        </div>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Done</button>
                </div>
            </div>
        </div>
    </div>
</article>
