{% import '@SfsCms/macros/modules_edit.html.twig' as module %}

<div
    {{ module.link_id(form.id) }}
    {{ module.link_class(form.class, 'sfs-card h-100') }}
    {{ module.link_bg_color(form.bg_color) }}
>
    {% for locale,localeField in form.background %}
        <div class="sfs-card__bg-media" data-media-preview-target="backgroundImage.{{ locale }}" data-lang="{{ locale }}">
            {% if localeField.vars.data %}
                {{ localeField.media.vars.data|sfs_media_render(localeField.version.vars.data, localeField.media.vars.image_attr) }}
            {% endif %}
        </div>
    {% endfor %}
    <div {{ module.link_class(form.content_position, 'sfs-card__content') }}>
        {% for locale,localeField in form.media %}
        <div class="sfs-card__media" data-media-preview-target="media.{{ locale }}" data-lang="{{ locale }}">
            {% if localeField.media.vars.data %}
                {{ localeField.media.vars.data|sfs_media_render(localeField.version.vars.data, localeField.media.vars.image_attr) }}
            {% endif %}
        </div>
        {% endfor %}

        <div class="sfs-card__texts">
            {% set titleType = form.title_type.vars.data %}
            {% for locale,localeField in form.title %}
                <{{ titleType }} data-cms-module-title-type="" {{ module.link_class(form.title_class, 'sfs-card__title') }} {{ module.link_content(localeField) }}>
                    {{ localeField.vars.data|default('')|raw }}
                </{{ titleType }}>
            {% endfor %}

            {% for locale,localeField in form.description %}
                <div class="sfs-card__desc mb-4 wysiwyg-preview"
                    {{ module.link_content(localeField, locale, false, 'card.form.description.placeholder') }}
                    {{ module.wysiwyg('tinymce') }}
                >{{ localeField.vars.data|default('')|raw }}</div>
            {% endfor %}

            <div class="sfs-card__cta">
                 {% for locale,localeField in form.primary_button_text %}
                     <a href="#" {{ module.link_class(form.primary_button_class, 'btn btn-primary') }}
                         {{ module.link_content(localeField, locale, true, '', true) }}
                     >{{ localeField.vars.data|default('') }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
