<div class="row">
    <div class="col-12">
        {{ form_row(form.id) }}
    </div>
    <div class="col-12">
        {{ form_row(form.class) }}
    </div>

    <div class="col-12">
        {{ form_row(form.content_position) }}
    </div>

    <div class="col-12">
        {{ form_row(form.title) }}
    </div>
    <div class="col-12">
        {{ form_row(form.title_type, {'attr': {'data-cms-module-title-type-field': ''}}) }}
    </div>
    <div class="col-12">
        {{ form_row(form.title_class) }}
    </div>
    <div class="col-12">
        {{ form_row(form.media) }}
    </div>

    <div class="col-12">
        {{ form_row(form.primary_button_text) }}
    </div>
    <div class="col-12">
        {{ form_widget(form.primary_button_link) }}
    </div>
    <div class="col-12">
        {{ form_row(form.primary_button_class) }}
    </div>


    <div class="col-12">
        {{ form_row(form.background) }}
    </div>

    <div class="col-12">
        {{ form_row(form.bg_color) }}
    </div>
</div>
{{ form_rest(form) }}
