{% import '@SfsCms/macros/modules_render.html.twig' as module %}
{% set id = id|default %}
{% set content_position = content_position|default %}
{% set bg_color = bg_color|default %}
{% set locale = app.request.locale %}
{% set title_type = title_type|default('h2') %}
{% set title_class = title_class|default %}
{% set title = title|default %}
{% set description = description|default %}
{% set primary_button_text = primary_button_text|default %}
{% set primary_button_class = primary_button_class|default('btn btn-primary') %}
<div {{ module.class(class, 'sfs-card h-100 ' ~ content_position)}} {{ module.id(id) }} {{ module.bg_color(bg_color) }}>
    {% if background[locale]|default(false) %}
        <div class="sfs-card__bg-media">
            {{ background[locale].media|sfs_media_render(background[locale].version) }}
        </div>
    {% endif %}
    <div class="sfs-card__content {{ content_position }}">
        {% if media[locale]|default(false) %}
        <div class="sfs-card__media">
            {{ media[locale].media|sfs_media_render(media[locale].version, {'class':'img-fluid'}) }}
        </div>
        {% endif %}
        <div class="sfs-card__texts">
            <{{ title_type }} {{ module.class(title_class, 'sfs-card__title')}}>{{ title|sfs_cms_trans|raw }}</{{ title_type }}>
            {% if description|default(false) %}<div class="sfs-card__desc mb-4">{{ description|sfs_cms_trans|raw }}</div>{% endif %}
            <div class="sfs-card__cta">
                {% if primary_button_text and primary_button_text|sfs_cms_trans is not empty %}
                    <a {{ sfs_cms_link_attr(primary_button_link) }} {{ module.class(primary_button_class, 'btn btn-primary')}}">{{ primary_button_text|sfs_cms_trans|raw }}</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
