<div class="sfs-card {{ class|default('') }} {{ content_position|default('') }}" id="{{ id|default('') }}">
    <div class="h-100" style="{{ bg_color|default(false) ? 'background-color:'~bg_color : '' }}">
        {% if background[app.request.locale]|default(false) %}
            <div class="sfs-card__bg-picture">
                {{ background[app.request.locale]|sfs_media_render_picture }}
            </div>
        {% endif %}

        <div class="sfs-card__content {{ form.content_position.vars.value|default('') }}">
            {% if other[app.request.locale]|default(false) %}
            <div class="sfs-card__media">
                {{ other[app.request.locale]|sfs_media_render_image(['_original'], {'class':'img-fluid'}) }}
            </div>
            {% endif %}
            <div class="sfs-card__texts">
                <h2 class="sfs-card__title {{ title_class|default('') }}">{{ title|sfs_cms_trans|raw }}</h2>
                {% if description|default(false) %}<div class="sfs-card__desc mb-4">{{ description|sfs_cms_trans|raw }}</div>{% endif %}
                <div class="sfs-card__cta">
                    {% if primary_button_text|default(false) and primary_button_text|sfs_cms_trans is not empty %}
                        <a href="{{ primary_button_link|default(false) ? path(primary_button_link) : '#' }}" {{ sfs_cms_route_attr(primary_button_link)}} class="{{ primary_button_class|default('btn btn-primary') }}">{{ primary_button_text|sfs_cms_trans|raw }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
