{% import '@SfsCms/macros/modules_edit.html.twig' as module %}

{% for locale,localeField in form.paragraph|filter((f, locale) => not (locale starts with '_')) %}
    <p {{ module.link_id(form.id) }}
       {{ module.link_class(form.class, 'sfs-paragraph') }}
       {{ module.link_content(localeField, locale, true, 'paragraph.form.paragraph.placeholder') }}
       {{ module.enter_inserts_module('paragraph') }}
    >{{ localeField.vars.data|default|raw }}</p>
    {# IMPORTANT: DO NOT LEAVE SPACES INSIDE THE DATA TO PLACEHOLDER WORK #}
{% endfor %}

