{% import '@SfsCms/macros/modules_edit.html.twig' as module %}

{% for locale,localeField in form.paragraph %}
    <p {{ module.link_id(form.id) }}
       {{ module.link_class([form.class]|merge(form.spacing.children), 'sfs-paragraph') }}
       {{ module.link_content(localeField, locale, true, 'paragraph.form.paragraph.placeholder') }}
       {{ module.enter_inserts_module('paragraph') }}
    >
        {{ localeField.vars.data|default|raw }}
    </p>
{% endfor %}

